.transectionapp{
     width: 100%;
     padding-bottom: 30px;
     background-color: #f5f4f9;
}
.nav{
     display: flex;
     justify-content: space-between;
     padding:15px 15px;
     font-weight: 500;
    
}
.nav h1{
     font-weight: 500;
}
.cards{
   width:90% ;
   height: auto;
   margin: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   border-radius: 25px;
 padding:10px 10px;
 margin-top: 20px;
 
}

.avatar{
     width: 100px;
     height:100px;
     border-radius: 50%;
}
.firstbox{
     width: 40%;
     font-size: 25px;
     display: flex;
     flex-direction: column;

     justify-content: space-around;
     align-items: start;
}
.firstbox>div{
     text-align: left;
     height: fit-content;
}
.firstbox>div:first-child{
     font-weight: bold;
     font-size: 28px;
}
.firstbox>div:last-child{
     width: fit-content;
     display: flex;
     align-items: start;
     color:grey;
}
.firstbox>div:last-child>h1{
     font-size: 23px;
     font-weight: 400;
}
.firstbox>div:last-child>h1:last-child{
     font-size: 23px;
     font-weight: 400;
     margin-left: 30px;
}
.secondbox{
     display: flex;
     width: 40%;
     font-size: 25px;
     flex-direction: column;
     justify-content: space-around;
     align-items: end;
}
.secondbox>div:first-child{
     color:#13b813;
     font-size: 25px;
     font-weight: bold;
}



@media only screen and (max-width: 734px){
    .firstbox{
     width: 60%;
     flex-direction: column;
     text-align: start;
     align-items: start;
     margin-left: 20px;
    }
    .firstbox>div:last-child{
     width: 100%;
     display: flex;
     align-items: start;
     color:grey;
}
    .secondbox{
     width:50%;
    }
 }
 @media only screen and (max-width: 624px){
     .avatar{
          width: 80px;
     height:80px;
     border-radius: 50%;  
     }
     .firstbox{
          width: 90%;
      flex-direction: column;
      text-align: start;
      font-size: 18px;
      align-items: start;
      margin-left: 20px;

     }

     .firstbox>div:last-child{
          width: 100%;
          display: flex;;
          flex-direction: column;
          align-items: start;
          color:grey;
          text-align: center;
          align-items: start;
     }
     .firstbox>div:last-child>h1:first-child{
          font-size: 16px;
     }
     .firstbox>div:last-child>h1:last-child{
          margin-left: 0;
     }
     .firstbox>div:last-child>h1:last-child{
          font-size: 16px;
          
     }
     .secondbox{
      width:40%;
       flex-direction: column;
      text-align: start;
      font-size: 18px;
      align-items: end;
      margin-left: 20px;
     }
     .secondbox>div:first-child{
          color:#13b813;
          font-size: 18px;
          font-weight: bold;
     }
  }

