.transectionapp{
     width: 100%;
     padding-bottom: 30px;
     background-color: #f5f4f9;
}
.nav{
     display: flex;
     justify-content: space-between;
     padding:15px 15px;
     font-weight: 500;
    
}
.nav h1{
     font-weight: 500;
}
.cards{
   width:90% ;
   height: auto;
   margin: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   border-radius: 25px;
 padding:10px 10px;
 margin-top: 20px;
 
}

.avatar{
     width: 100px;
     height:100px;
     border-radius: 50%;
}
.firstbox{
     width: 40%;
     font-size: 25px;
     /* border: 1px solid red; */
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.firstbox>div{
     text-align: left;
     height: fit-content;
}
.secondbox{
     display: flex;
     width: 40%;
     font-size: 25px;
     justify-content: space-around;
     align-items: center;
}
.secondbox>div:first-child{
     color:#13b813;
     font-size: 25px;
     font-weight: bold;
}

@media only screen and (max-width: 734px){
    .firstbox{
     flex-direction: column;
     text-align: start;
     align-items: start;
     margin-left: 20px;
    }
    .secondbox{
     width:50%;
    }
 }
 @media only screen and (max-width: 622px){
     .avatar{
          width: 80px;
     height:80px;
     border-radius: 50%;  
     }
     .firstbox{
      flex-direction: column;
      text-align: start;
      font-size: 18px;
      align-items: start;
      margin-left: 20px;

     }
     .secondbox{
      width:50%;
       flex-direction: column;
      text-align: start;
      font-size: 18px;
      align-items: end;
      margin-left: 20px;
     }
     .secondbox>div:first-child{
          color:#13b813;
          font-size: 18px;
          font-weight: bold;
     }
  }

